[2019-03-01 12:22] Galad opened #1 "Visual Studio 2019 support"
Hello,
It would be nice to have support for Visual Studio 2019 since it is released next month.

Thanks

[2019-03-01 12:30] Galad opened #2 "Escaping regex character \ is displayed when using auto completion in a .feature file."
Given the following step implementation:

    [Then(@"some \[assertion\]")]

In a feature file, the autocompletion it will display the following step:
    some \[assertion\]

Which is not recognized as a an existing step.

[2019-03-01 12:34] Galad opened #3 "Suggestion: provide some documentation in autocompletion of keywords"
When using the autocompletion on an empty line (using CTRL + space), a list of available keywords and symbols such as Given, When, or ```, *, etc. is displayed.

It would be nice to have a tooltip explaining the purpose of each keyword / symbol.

[2019-03-04 11:33] gasparnagy commented on #3
Good point! Thx!

[2019-03-04 11:36] gasparnagy commented on #1
Yes, this is a very important next goal.
I will try to fix some stability issues of v1.0.0 and then move onto this.

[2019-03-04 14:58] gasparnagy opened #4 "Bindings: Method not found: ConnectorResult.set_Warnings"
Performing binding discovery of a project provides:

[code]

Self note: SpecSync Specs

[2019-03-04 15:04] gasparnagy opened #5 ".NET Core Bindings: Project dependency load issue"
Discovering dependencies of a .NET Core 2.1 test assembly, where one of the types inherit from `WebApplicationFactory<T>` leads to error:

[code]

Self note: B1-pre

[2019-03-04 15:07] gasparnagy opened #6 "Editor: No syntax coloring when the file ends with doc-string open"
An unfinished file ends with `"""` should be still syntax colored, but it is not.

[2019-03-04 15:09] gasparnagy opened #7 ".NET Core Bindings: Different project file name, assembly name and default namespace causes confusion"
When different project file name, assembly name and default namespace used in a .NET Core project, discovery reports a missing test assembly.

[2019-03-04 15:12] gasparnagy opened #8 "Deveroom init: FileNotFoundException: Could not load file or assembly System.Net.Http"
Opening a feature file in Visual Studio (probably before VS 15.9.6) causes:

[code]

Upgrading to latest VS(?) and/or installing .NET SDK Version ??? solves the issue.

Full stack trace:
[code]

[2019-03-04 15:15] gasparnagy opened #9 "Deveroom init: Unable to load Microsoft.VisualStudio.Threading.dll on old VS"
Opening feature file on old VS2017 (how old?) causes an error, that `Microsoft.VisualStudio.Threading.dll` cannot be loaded.

This is not a classic bug, because updating VS2017 solves the issue, but it would be better to provide a more meaningful error message for the user.

[2019-03-05 11:15] gasparnagy commented on #9
Fixed by showing a dialog that asks the users to update VS and/or report the error.
Fix will be distributed in the next patch 1.0.2.

[2019-03-05 11:15] #9 closed

[2019-03-05 11:18] gasparnagy commented on #8
Seems to be reproducible with VS 15.8.6

[2019-03-05 17:31] gasparnagy commented on #8
Fixed, the next patch release (1.0.2) will contain the fix

[2019-03-05 17:31] #8 closed

[2019-03-07 12:45] gasparnagy commented on #2
fixed

[2019-03-07 12:45] #2 closed

[2019-03-07 13:14] gasparnagy commented on #4
was caused by wrongly setup environment

[2019-03-07 13:14] #4 closed

[2019-03-07 13:17] gasparnagy opened #10 "Binding: Error: CreatePersistentTrackingPosition: Exception: System.ArgumentException: Must be non-negative."
After discovery, the following error is reported in the output pane

[code]

In the log file, the line numbers of some of the step definitions are wrong:
[code]

[2019-03-07 13:26] gasparnagy commented on #10
fixed

[2019-03-07 13:26] #10 closed

[2019-03-07 14:54] gasparnagy opened #11 ".NET Core Bindings: Bindings not discovered on slow machines"
When the solution is opened in a way that a feature file gets active immediately (feature file was open and active before solution close), on some slow machines the bindings are not discovered.

On the output pane it displays:
[code]

The bug is that the bindings are not discovered even if you rebuild afterwards.

Workaround: close all feature files, close and reopen solution, build the project an

[2019-03-07 16:03] plv2 opened #12 "Add navigation from a test into the Test Explorer window to the corresponding feature file"
Propose a way to make possible code navigation from VisualStudio Test Explorer window to corresponding feature code source.
For example double click or Ctrl+Click on a test into the Test Explorer windows navigate/open the corresponding feature.

[2019-03-08 13:39] gasparnagy commented on #12
The navigation from the Test Explorer window is provided by the unit test visual studio adapters. I know that some adapters have/had some problems with this and there has been even a related issue on the [specflow github](https://github.com/techtalk/SpecFlow/issues), but I cannot find it now.

I close this issue here, as Deveroom cannot help this, please reopen if you get any new info.

With a sta

[2019-03-08 13:39] #12 closed

[2019-03-11 09:37] ParagRaut opened #13 "GoTo Definition doesn't work on VS 2017 with Specflow 2.14"
I tried this extension instead of regular Specflow one, from what I observed this extension seems to lack in few areas namely:
1) Goto Definition doesn't work
2) No provision to see if the step is missing
3) Cannot execute tests from file directly and also by right clicking on feature file
Above features might not be standard part of the package but that was my observation

[2019-03-11 10:52] gasparnagy commented on #13
Go to definition and missing step indication should work. The problem in your case that the binding did are not discovered properly by deveroom. This is done normally after build.
Could you please open the "Output" window and switch to the "Deveroom" pane to see if it reports any error and paste the error here?
![image](https://user-images.githubusercontent.com/144701/54118762-1da5d800-43f4-11e9-9

[2019-03-11 12:12] gasparnagy commented on #11
Better workaround: Rebuild helps

[2019-03-11 14:23] gasparnagy commented on #11
fixed in v1.0.3

[2019-03-11 14:23] #11 closed

[2019-03-11 14:39] gasparnagy commented on #7
This issue was caused by a wrong assembly rename (I did not rename it in a config file). With proper rename it works.

[2019-03-11 14:39] #7 closed

[2019-03-11 16:41] gasparnagy commented on #5
Fixed in v1.0.3. The problem was caused by not loading the compile-only ASP.NET Core dependencies.

[2019-03-11 16:41] #5 closed

[2019-03-12 10:04] ParagRaut commented on #13
I tried everything as you said Gaspar, this is output of deveroom in VS 2017
Even after sometime I don't get any bindings.
I don't get option to generate bindings and also to somehow run the feature file
![screenshot-1552384925](https://user-images.githubusercontent.com/16030809/54191494-54442700-44b6-11e9-8a89-2b4e4269875d.jpg)

[2019-03-12 10:22] gasparnagy commented on #13
@ParagRaut I see. It looks like Deveroom does not recognize your project as a SpecFlow project.

Could you please let me know the (SpecFlow related) NuGet packages you have installed?

Also could you please check the latest log file at `%LOCALAPPDATA%\Deveroom` to see if there is any further information about the problem?

[2019-03-12 10:48] ParagRaut commented on #13
Log file says this:

2019-03-12T11:00:18, Verbose, PreExec: Go To Step Definition
2019-03-12T11:00:21, Verbose, PreExec: Go To Step Definition
2019-03-12T11:00:30, Verbose, Parse: Parsed buffer v7 in 13ms on thread 1
2019-03-12T11:00:31, Verbose, ParseInternal: ParserErrors: Parser errors:
(11:2): expected: #EOF, #TableRow, #DocStringSeparator, #StepLine, #TagLine, #ScenarioLine, #ScenarioOutlineL

[2019-03-12 14:30] gasparnagy commented on #13
I see. Currently Deveroom only able to detect SpecFlow version from NuGet packages. Later we plan to provide support for binary-based references as well, but unfortunately, that is not ready yet.
I will close this issue now, but create another one so that you can track the implementation status.

[2019-03-12 14:30] #13 closed

[2019-03-12 14:33] ParagRaut commented on #13
yes and thanks Gaspar, also let me know if you're also planning on other features as I mentioned earlier and also might be support for Visual studio for Mac

[2019-03-12 14:36] gasparnagy opened #14 "Support for SpecFlow assembly references (non-NuGet)"
Currently Deveroom detects the installed SpecFlow version from the NuGet package references, therefore it is not able to detect SpecFlow if you reference the SpecFlow assemblies as assembly references.

If Deveroom cannot detect SpecFlow, certain features, like Navigation and coloring undefined steps will not work.

Later we plan to support using SpecFlow assembly references as well, you can use t

[2019-03-12 14:38] gasparnagy commented on #13
#14

[2019-03-19 15:27] LirazShay opened #15 "Missing Feature: Navigating from a Binding to Steps in Gherkin Files"
In the original extension we can navigate from code to usage in feature files, if there are many we see list of them

https://specflow.org/documentation/Visual-Studio-Integration-Navigation-Features/

Navigating from a Binding to Steps in Gherkin Files
To navigate from a step definition method to the matching step(s) in your Gherkin feature file(s):

Place your cursor in a step definition method.

[2019-03-19 15:35] LirazShay opened #16 "Auto-completion is not working well according to entered phrase"
I've entered the word 'list' and I see all sentences, including those without the word 'list'

It is very important feature, since steps are globally and the autocompletion is a way to search for matching steps

See attached video
[auto-completion.zip](https://github.com/specsolutions/deveroom-feedback/files/2984165/auto-completion.zip)

https://streamable.com/xazsl

[2019-03-20 17:04] LadaVarga commented on #16
Am I doing something wrong as intelisense or autocompletion cannot find anything. I tried clean the solution and rebuild and result is the same I can't see my steps at all. It is not working if I have steps in same solution or If I use external shared steps.

[2019-03-20 20:35] gasparnagy commented on #16
@LirazShay thx. yes, this makes sense, I need to add some filtering logic to it.

@LadaVarga Is the navigation working? (If navigation works that means that Deveroom was able to detect the step definitions.) Also it is important to mention that currently the step completion does not pop up automatically, you have to press Ctrl+Space.

[2019-03-20 20:38] gasparnagy commented on #15
Yes, this is on my feature list. Deveroom does not keep a dictionary of all feature file steps in memory, so for this, I need to implement a fast scanning mechanism. This is why this was left out from the first release.

[2019-03-21 09:27] LadaVarga commented on #16
@gasparnagy Navigation is not working with DEVEROOM, I can't navigate to definition in the same solution. App.config is filled correctly I believe:
`  <specFlow>

    <stepAssemblies>
      <stepAssembly assembly="SpecResults" />
      <stepAssembly assembly="Core.Automation.AWS" />
      <stepAssembly assembly="Core.Automation.Shared" />
      <stepAssembly assembly="Core.Automation.SharedSteps"

[2019-03-21 14:58] gasparnagy commented on #16
@LadaVarga Deverooms saves the log files to the `C:\Users\<youruser>\AppData\Local\Deveroom` folder. There you will find the logs by date.

[2019-03-21 18:09] LadaVarga commented on #16
@gasparnagy Looks like deverooms doesn't recognize speflow during discovery. I use Specflow 2.4.0 and VS 2017 the latest one update. I've tried delete specflow files from temp, clean solution and rebuild completely. I can see the colors in the steps but navigation is not possible. One things what we used is we generate feature.cs files by prebuild task (by specflow.exe command), it means we don't

[2019-03-21 18:27] gasparnagy commented on #16
@LadaVarga Are you using SpecFlow through NuGet or binary references?

[2019-03-21 18:29] gasparnagy commented on #1
DONE!!!! Go ahead and install it for VS2019!
https://marketplace.visualstudio.com/items?itemName=SpecSolutions.DeveroomVisualStudio2019

[2019-03-21 18:29] #1 closed

[2019-03-21 18:34] LadaVarga commented on #16
@LadaVarga We use Paket + References. Example of reference: C:\!!code\core-automation\packages\SpecFlow\lib\net45\TechTalk.SpecFlow.dll

[2019-03-21 18:39] gasparnagy commented on #16
@LadaVarga Does that mean, that you have a `packages.config` file where the SpecFlow package is listed?

[2019-03-21 18:44] LadaVarga commented on #16
@gasparnagy No, we use paket.dependecies example:
source http://ourART/artifactory/api/nuget/nuget-3rdParty/
source http://ourART/artifactory/api/nuget/nuget-automation-stable
source http://ourART/artifactory/api/nuget/nugets

nuget SpecFlow  == 2.4.0
nuget SpecFlow.CustomPlugin == 2.4.0
nuget SpecFlow.NUnit == 2.4.0
nuget SpecResults == 0.1.0.7
nuget SpecResults.Json == 0.1.0.7
nuget SpecResults.

[2019-03-21 18:48] gasparnagy commented on #16
@LadaVarga I see. This scenario is not supported yet (#14 tracks it). This seems to be important for more people, so I will try to get a solution for this soon. You need to wait a bit. :(

[2019-03-21 18:54] LadaVarga commented on #16
@gasparnagy NP will wait. Thanks a lot for your cooperation

[2019-03-22 08:14] gasparnagy opened #17 "Dialogs are not in the center of the screen"
Like the welcome dialog or the "Define Steps..." dialog

[2019-03-22 08:16] gasparnagy opened #18 "No info links provided in the VS extension details"
There are no more info links when you open the extension in the VS extensions dialog.

![image](https://user-images.githubusercontent.com/144701/54809307-ccf77000-4c7a-11e9-944c-761032d8b00d.png)

[2019-03-22 08:22] gasparnagy opened #19 "Set icon for .feature extension on install"

[2019-03-22 17:29] gasparnagy opened #20 ""Add new feature file" causes assembly load error"
With the 1.1.0 release, when Add new feature file is invoked, it provides the error message:

Error: this template attempted to load component assembly 'Deveroom.VisualStudio.Package, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c392b06fa519a0e0'. For more information on this problem and how to enable this template, please see documentation on Customizing Project Templates.

[2019-03-22 17:56] gasparnagy commented on #20
Fixed by v1.1.1

[2019-03-22 17:56] #20 closed

[2019-03-24 09:24] LirazShay commented on #15
Sorry but I will wait until this feature will be implemented before continue trying this again, maybe you could do some kind of survey to understand which features are must to have in order that people will agree to leave to good old extension 😥

[2019-03-24 19:28] gasparnagy commented on #15
@LirazShay makes sense. Yes, I have been also thinking about the survey... thx.

[2019-04-02 14:00] z41 opened #21 ".feature.cs files are not re-generated automatically. Have to re-build the project"
I have to re-build the project in order to get .feature.cs files updated.
My guess that it might be related to async steps in my project (I see "Unable to jump to the step definition. No source location detected" for async steps).

Please, let me know if you need more details.
VS 2017 v15.9.10, .netcore 2.2 (or 2.3 - not sure).
Extension version is 1.1.1.

[2019-04-02 14:13] z41 commented on #21
Sorry, I was wrong. Seems like the issue I've been facing is related to file generation. Need further investigation

[2019-04-02 19:20] z41 commented on #21
Also the feature.cs file is not generated when I add a new feature file.
I might be missing something from the Documentation, but it's all very suspicious and vague to me.
![specflow](https://user-images.githubusercontent.com/2376542/55429891-30e03980-5595-11e9-82e3-3982339c2584.gif)

[2019-04-02 19:23] z41 commented on #21
Let me know if you want me to upload the demo project. But it's just a default netcore 2.2 xUnit project with specflow libs.

[code]

[2019-04-03 12:18] andresla opened #22 "Bindings From External Assemblies"
Cannot load Steps from External Assemblies.

[code]

tried using the json config as:
[code]

I keep getting the following error:
`Exit code: 4
Message:
Error: Exception has been thrown by the target of an invocation. -> Value cannot be null.
Parameter name: assemblyString
Exception: System.Reflection.TargetInvocationException->System.ArgumentNullException
StackTrace:
   at System.Reflection.Runtim

[2019-04-04 12:14] gasparnagy commented on #22
@andresla In the .NET Core version of SpecFlow v3, the App.config file cannot be used, you have to use the json file. The proper format of the specflow.json file to add external assemblies is:

[code]

(Don't forget to set the "copy to output folder" for the json config file.)

You can find a working sample attached. I am closing this issue now, if the issue is not resolved with this, please re-op

[2019-04-04 12:14] #22 closed

[2019-04-04 12:18] gasparnagy commented on #21
In SpecFlow v3, the generation of the code behind files has been entirely moved to build time using the SpecFlow.Tools.MsBuild.Generation NuGet package, so the fact that the code behind files are only visible after build that's absolutely normal.

The "Unable to jump to the step definition. No source location detected" error message might be an issue, I check it and get back to you.

[2019-04-04 12:23] gasparnagy opened #23 "Unable to jump to async step definitions"
Have an async step definition, build the project and try to navigate from step to the step definition.

It shows an error

[code]

(Extracted from #21 by @z41)

[2019-04-04 12:25] gasparnagy commented on #21
Ok. The jumping to async step def is a bug. I have created a separate issue #23 for tracking it.

I close this one as the build-time generation is the by-design behavior in SpecFlow v3.

[2019-04-04 12:25] #21 closed

[2019-04-04 17:55] andresla commented on #22
Thanks Gaspar for the quick response, that fixed it 👍

[2019-04-05 08:56] gasparnagy commented on #23
This has been fixed in v1.1.2. //cc @z41

[2019-04-05 08:56] #23 closed

[2019-04-05 13:39] jrbye opened #24 "Deveroom fails to discover step definitions when App.config does not contain a <specFlow> node"
Here is my setup: Specflow 3.0.191 Specflow.tools.MsBuild.Generation 3.0.191 Specflow.NUnit 3.0.191 Visual Studio 2019 Version 16 Deveroom Extension 1.1.1

When I am in a feature file in Visual Studio I am not able to go to the definition of any of my steps. I have tried F12 as well as right clicking on the step and choosing Go To Definition. Neither goes anywhere or pops any kind of error. There

[2019-04-05 15:16] gasparnagy commented on #24
From the error message maybe there is a problem with your App.config file (C:\Users\me\source\repos\SPFAutomation\Automation\App.config). Maybe it does not contain a <specFlow> element? Could you please check if the problem is solved if you add an empty SpecFlow config node? Like

[code]

[2019-04-05 15:57] jrbye commented on #24
That worked! I thought that since we didn't have to specify the Unit Testing framework in the App config I wouldn't need a specflow section in there. I added it as you specified, cleaned and rebuilt the project and it worked.

Thank you very much for your help.

[2019-04-05 15:59] gasparnagy commented on #24
OK, thx. I mark this as a bug, as Deveroom should be tolerant for this situation, that is otherwise valid for SpecFlow.

[2019-04-05 21:01] jrbye opened #25 "Syntax coloring of non-example parameters in scenario outline not working when example parameter used in the line"
When using Scenario Outline and using a parameter from the Examples table in a step any additional parameters used in that same step do not have Syntax Coloring regardless of the position of the parameters in the step.

The following example shows working highlighting of a parameter in line 1 and the Example parameter highlighted in green and an additional parameter 'Duration' left white.
![image]

[2019-04-07 08:29] ABHIJITHOK opened #26 "Error while building the project - Unable to copy file "obj\Debug\..." to "bin\Debug\...""
I am getting the following error while trying to build after opening a .feature file in Visual Studio:

On killing the processes for deveroom-specflow-v1.exe, and after deleting the bin\debug folder (build configuration is Debug), the project builds successfully. But on opening a .feature file, build fails with the same error as above.

**My environment:**
Windows 7 Enterprise
Microsoft Visual Stu

[2019-04-08 09:30] gasparnagy commented on #26
@ABHIJITHOK thx for the error report. It seems that the deveroom discoverer process gets stuck or executes for a very long time.
Could you please try to run the same process (`<ProjectName>\bin\Debug> C:\USERS<UserName>\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_49D9668A\EXTENSIONS\LJN232NY.HTR\Connectors\V1\deveroom-specflow-v1.exe discovery <ProjectName>\bin\Debug<ProjectName>.dll <ProjectName>\A

[2019-04-08 11:59] gasparnagy commented on #25
This behavior is by design, but maybe not the best one.
The problem is that in case of an outline step, the location of the outline placeholders (`<duration>`) and the location of the step parameters matched from the regex might be misaligned. Therefore the current behavior is:

- Color outline placeholders only if there are outline placeholders
- Color step parameters if there are no placeholders

[2019-04-08 13:16] gasparnagy commented on #24
This (Deveroom fails to discover step definitions when App.config does not contain a <specFlow> node) has been fixed and will be included in the next release

[2019-04-08 13:16] #24 closed

[2019-04-11 21:59] gasparnagy commented on #26
This has been fixed in a way, that if the deveroom-specflow-v1.exe process times out, it is killed, so it will not block the compilation. I have also decreased the timeout to 2 minutes from 10.

[2019-04-11 21:59] #26 closed

[2019-04-12 05:23] gasparnagy commented on #17
fixed

[2019-04-12 05:23] #17 closed

[2019-04-12 05:36] gasparnagy commented on #18
fixed

[2019-04-12 05:36] #18 closed

[2019-04-12 06:12] gasparnagy commented on #16
@LirazShay your original request has been added in v1.2.
(The issue of @LadaVarga is still open, tracked with #14)

[2019-04-12 06:12] #16 closed

[2019-04-12 06:24] gasparnagy commented on #15
This has been added in v2.1 released just now. Besides navigation from a popup list, you can also choose to get the list into the output window, where it is easier to navigate through a longer list.

@LirazShay I am looking forward to your feedback.

[2019-04-12 06:24] #15 closed

[2019-04-12 14:37] gasparnagy opened #27 "Deveroom might call BeforeTestRun event during binding discovery"
During binding discovery, when the step definitions are detected, the BeforeTestRun hook might be called, that might cause undesired behavior.

[2019-04-12 21:17] jrbye commented on #25
I see. Since the outline parameter is surrounded by <> would you be able to do the coloring of all of the parameters based on the placeholder (column name in the Examples table) before substituting the value in there? The column names shouldn't contain any special characters and they should be discernible based on the <>. Then your match you are using for current non-outline parameters would work

[2019-04-17 12:16] gasparnagy commented on #16
@LirazShay thx for the feedback. There are some differences between the models of the two extensions so it is not possible to make it work really the same way (common feedback for the original extension was BTW, that it shows too many items), but points 1) and 4) would definitely be possible and senseful. I will create a separate issue to track those.

[2019-04-17 12:19] gasparnagy opened #28 "Step completion should use word containment for filtering the list"
(Extracted from issue #16)

Currently, the step completion is filtered with contains, this means that if you enter two words "foo bar" than only those step definitions are found where these two words are exactly after each other in this order. So for example "foo baz bar" or "bar foo" is not shown.

The filtering should use word containment, so basically, each word from the filter criteria has to

[2019-04-17 12:21] gasparnagy opened #29 "DataTable placeholder should be included when a DataTable-bound step definition is selected from the step completion list"
(Extracted from #16)

Currently it just completes the text, although you will see an error about the missing table.

[2019-04-17 12:22] gasparnagy commented on #27
This has been fixed and will be included in the next service release.

[2019-04-24 13:41] #27 closed

[2019-04-26 00:47] AndresC46 opened #30 "Specflow3 + Visual Studio 2015 default XML namespace of the project must be the MSBuild xml namespace"
When I startup Visual Studio 2015 I get the following error:

The default XML namespace of the project must be the MSBuild xml namespace.  If the project is authored in the MsBuild 2003 format, please add
 xmlns='http://schemas.microsoft.com/developer/msbuild/2003" to the <Project> element.  If the project has been authored in the old 1.0 or 1.2, please convert to MSBuild 2003 format.
C:\<Project

[2019-04-29 06:35] gasparnagy commented on #30
@AndresC46 I see. You have posted this message to a "Deveroom" topic in the forum, so I thought it is a Deveroom (a Visual Studio extension for SpecFlow) related issue. This is why I have suggested you to post it here. Generally, it makes sense to create new topics for new questions otherwise you will confuse people and you will not receive good answers.

As it is stated in the SpecFlow documentat

[2019-04-29 06:35] #30 closed

[2019-05-08 14:47] david-ttl opened #31 "Show colours of Specflow table headings in black like with Specflow for Visual Studio"
When using Specflow for Visual Studio it shows the column headings in tables in black to distinguish them from the rows which are in red.
But in Deveroom the colourings are inconsistent (see below). Can they be made to be as they are in Specflow for Visual Studio?

Deveroom:
![deveroom](https://user-images.githubusercontent.com/50414069/57384456-90d78a80-71a8-11e9-91a5-0c0aa7e914bc.JPG)

Specflow

[2019-05-10 03:21] ABHIJITHOK commented on #26
Thanks @gasparnagy .
Verified that its executing the tests from Visual Studio Test Explorer as well as from Command Line Interface using dotnet vstest, while using the new Deveroom extension.
Sincere apologies for the delay in my response.
Thanks again.
@ABHIJITHOK

[2019-05-17 14:06] jameslavery opened #32 "'Item with the same key...' error on initialisation of Deveroom - binding could not be discovered."
I'm having a problem with Deveroom - it shows the error below, and (as the error says), navigation, step completion etc. are disabled.

I'd previously had the SpecFlow extension installed. I've now uninstalled and reinstalled Deveroom but still have the problem.

Any thoughts? This is on VS2019.

[2019-05-20 10:52] LadaVarga commented on #14
Hello, do you have aby ETA fór this? Do you have aby branch where i can look or place in the code where i can start?

[2019-05-20 12:36] gasparnagy commented on #14
Thx for offering help.
I will hopefully be able to make the GitHub source code publish by tomorrow. This is one of the top priority things to solve after that. I have some design ideas, I will share them with you and you can see if you can contribute.

[2019-05-22 08:36] gasparnagy commented on #32
Thx for submitting this. This is pretty bad, because the problem seems to be in the `AddDependencyContext` method of the (called at from [this line](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.VisualStudio.SpecFlowConnector.V2/Discovery/LoadContextHelper.cs#L81)) `McMaster.NETCore.Plugins` library.
What we probably need to do is to re-implement the method in a way t

[2019-05-22 08:49] gasparnagy commented on #31
Implementation notes:
* Define a new TagType: `DataTableHeader` (see [`DeveroomTagTypes`](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.VisualStudio/Editor/Services/DeveroomTagTypes.cs))
* Extend scenario with `DataTableHeader` synxtax expectations [here](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Tests/Deveroom.VisualStudio.Specs/Features/Edit

[2019-05-22 08:53] gasparnagy commented on #28
Implementation notes:

* The filtering logic is [here](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.VisualStudio/Editor/Completions/Infrastructure/ContainsFilteredCompletionSet.cs#L15)

[2019-05-22 09:49] wooger opened #33 "Add support for Format Document command in .feature files"
Add support for using Visual Studio's 'Format Document' command (Ctrl-K, Ctrl-D) for gherkin .feature files.

This should be configurable via the global options menu.

[2019-05-22 13:45] gasparnagy commented on #33
Yes, this is on my list too.
@wooger Would you be interested to contribute? I could guide you with some design ideas.

[2019-06-05 09:34] lauragilmour opened #34 "Regenerate Feature.cs file comes back as error if there is a space in the file name"
Regenerating all of the feature.cs file worked fine until I did it for projects that had a space in the name, and then it came back with the error

﻿#error Error during generation.
//Error: Illegal characters in path.

Is this something that deveroom is unable to support?

[2019-06-05 18:52] gasparnagy commented on #34
@lauragilmour probably a bug. I will check.

[2019-06-07 14:24] lewisreilly commented on #34
@gasparnagy the illegal character in the path came from the folder the project lived in having a space in it's name e.g. folder/application 2/app.csproj.

Removing the space stopped the error from occurring.

[2019-06-14 12:35] #31 closed

[2019-06-14 18:22] snow-jallen opened #38 "Unable to discover / create steps"
After adding a new feature file, and writing the text of the given/when/then statements, I right clicked on one of the statements to generate the step file.  The following error is generated:
[code]

[2019-06-17 10:16] kstudnik opened #39 "Error when backslash is included in DataTable"
While writing steps, occurred that exception is thrown while parsing backslash in DataTable
While I was creating scenario with such table, I forgot to press Shift key to get `|`, getting backslash instead:
`| TestColumn | TestColumn2\ `

`Error: ParseAndCollectErrors: Exception during Gherkin parsing: System.InvalidOperationException: Enumeration already finished.
   at System.CharEnumerator.get_C

[2019-06-18 12:05] gasparnagy commented on #34
Fixed. The fix will be released in a few days.

[2019-06-18 12:05] #34 closed

[2019-06-18 12:11] gasparnagy commented on #39
Note: With Gherkin 6 the stack trace is

[code]

[2019-06-19 08:35] Jordank321 commented on #38
I had the same issue yesterday.
I managed to resolve this by downgrading my specflow pacakges to version `.161-beta`

[2019-06-19 12:35] gasparnagy commented on #39
Fixed. The fix will be released in a few days.

[2019-06-19 12:35] #39 closed

[2019-06-19 12:38] gasparnagy opened #40 "Editor: Table autoformat removes unfinished cells at the end"
If you type a `|` in a table where there are some unfinished cells in the previous rows OR if you just type a masked `|` as `\|`, the unfinished cells are removed.

[2019-06-19 12:38] gasparnagy commented on #40
Fixed. Fix will be released in a few days.

[2019-06-19 12:38] #40 closed

[2019-06-19 12:41] gasparnagy commented on #38
Thx. I will try to repro & fix it this evening.

[2019-06-19 13:25] gasparnagy commented on #38
I can confirm that the issue is reproducible with SpecFlow v3.0.220. Restoring to SpecFlow 3.0.213 or earlier solves the problem.
I am working on the fix.

[2019-06-19 18:08] gasparnagy commented on #38
Fixed. I hope to release it tonight.

[2019-06-19 18:08] #38 closed

[2019-06-20 09:23] gasparnagy commented on #38
The fix has just been released as v1.3.0.

[2019-06-20 09:24] gasparnagy commented on #34
The fix has just been released as v1.3.0.

[2019-06-24 11:27] #32 closed

[2019-06-24 11:27] gasparnagy commented on #32
The fix will be released in a few days

[2019-06-25 15:09] gasparnagy commented on #28
Fixed. Fix will be distributed in a few days.

[2019-06-25 15:09] #28 closed

[2019-06-26 06:34] gasparnagy commented on #3
This is implemented. The new feature will be released soon.

[2019-06-26 06:34] #3 closed

[2019-06-26 11:58] AnnieOletubo commented on #14
Hi All,
Have you any update on that point?

[2019-06-27 07:14] gasparnagy commented on #14
Not yet, but scheduled for the next release.

@AnnieOletubo @LadaVarga would you be available for some beta testing once I have something to try out?

[2019-06-27 07:16] AnnieOletubo commented on #14
Of course I can.
Thanks a lot

[2019-06-27 16:06] gasparnagy commented on #6
fixed

[2019-06-27 16:06] #6 closed

[2019-07-01 14:14] okyrylenko opened #42 "Devroom Integration with SpecFlow+"
Hi, I am using Specflow+. When I install a devroom I got a warning that I have Specflow+ and Devroom installed and need to uninstall one in case to use the other one. Can I use both Speclow+ and Devroom?
Thank you

[2019-07-01 15:58] gasparnagy commented on #42
@okyrylenko In short: SpecFlow+ components can be used with Deveroom!

The warning you have got was related to the "SpecFlow for VisualStudio" Visual Studio extension (this is what does the same job as Deveroom). This is not part of SpecFlow+.
SpecFlow+ consists of [several libraries and tools](https://specflow.org/plus/) that make test execution easier (the most commonly used is the SpecFlow+ Run

[2019-07-02 19:56] okyrylenko commented on #42
@gasparnagy thank you. That cleared things out

[2019-07-02 19:57] #42 closed

[2019-07-02 20:31] gasparnagy commented on #14
@AnnieOletubo there is a preview version available in PR #43.

It detects some bin-loaded SpecFlow versions automatically, but for code-behind generation, you need to add a "deveroom.json" file to the project root (there is an item in the Deveroom section of the "Add new item" dialog). You will need to set:

[code]

https://dev.azure.com/specsolutions/_apis/resources/Containers/3728208?itemPath=vs

[2019-07-03 12:36] #14 closed

[2019-07-03 12:48] gasparnagy commented on #14
Will be released hopefully today. See documentation at http://speclink.me/deveroomsfassref

[2019-07-03 19:55] gasparnagy commented on #14
Released as v1.4.0

[2019-07-03 19:56] gasparnagy commented on #39
Released as v1.4.0

[2019-07-03 19:56] gasparnagy commented on #3
Released as v1.4.0

[2019-07-03 19:57] gasparnagy commented on #28
Released as v1.4.0

[2019-07-03 19:57] gasparnagy commented on #6
Released as v1.4.0

[2019-07-09 06:17] Ninelya opened #44 "annoying warning with specflow 3"
Hi)
Thanks for your product, love it!

I'm using SpecFlow 3.0.225 and VS 2019, and my problem is that I get these popup warnings every time I save edited feature file:
'Warning: ShowProblem: User Notification: Unable to find SpecFlow tools folder: 'C:\Users\{username}\.nuget\packages\specflow\3.0.225\tools'. Build solution to ensure that all packages are restored. The feature file has to be re-gen

[2019-07-09 06:26] gasparnagy commented on #44
Thx for the feedback.

Whether the design-time generation (the generation triggered by saving the file in the editor) is enabled by the "SpecFlowSingleFileGenerator" value in the custom tool setting of the feature files. If you have migrated the project from SpecFlow v2, this value is still set for your feature files and this is why Deveroom tries finding the tools folder. The solution would be to

[2019-07-09 08:34] Ninelya commented on #44
Indeed, I have migrated my project from SpecFlow v2, and copied .feature files ever since :)
Cleaning .csproj from all the trash helped.
Thank you for such fast reply :)

[2019-07-09 08:34] #44 closed

[2019-07-09 16:47] okyrylenko opened #45 "Getting "The type initializer 'Equ.MemberwiseEquatable'1' threw an exception" exception when creating feature file for Specflow"
Getting "The type initializer 'Equ.MemberwiseEquatable'1' threw an exception" exception when creating feature file for Specflow

Steps:
Click new Item
Select Feature File For Specflow file type
type calculator.feature
Click add

Expected a new feature file is created
Actual getting an exception

Note:

- Deveroom Version 1.4.0
- I am able to create a feature file using specflow but deveroom. I tri

[2019-07-09 19:14] gasparnagy commented on #45
Strange. I could not reproduce it, but released a hotfix: 1.4.1, where I have removed the `Equ` library (and reverted to "manual" equality).
The release should be ready in a few minuted on marketplace

[2019-07-09 19:14] #45 closed

[2019-07-10 12:59] okyrylenko commented on #45
The bug is gone now. Thank you

[2019-07-10 13:56] okyrylenko commented on #42
it is a slightly different question but could be related to the original topic. I do not see deveroom features. I have specflow+ installed. My guess is that somehow that interfere with a usage of a deveroom. I choose Feature File For SpecFlow option when I create a new file which indicates that deveroom installed. But when I start working in a feature file I do not see deveroom features. For examp

[2019-07-11 06:52] gasparnagy commented on #42
It look like that you also have the "SpecFlow for Visual Studio" extension also installed (Deveroom uses an coral color for undefined steps, the "SpecFlow for Visual Studio" extension uses the purple I see on your screenshot.) Disable or uninstall the "SpecFlow for Visual Studio" extension, and restart Visual Studio and then hopefully you will see the Deveroom features.

[2019-07-12 17:18] iceoz opened #46 "Visual Studio freezes and restart when adding a new feature file to an SDK-style project"
Every new feature my visual studio freezes and restart, how to solve this? where i can get logs for this errors?

[2019-07-12 17:57] okyrylenko commented on #46
the same here. I would suggest to give another title to this issue. The current title "Help" is not very explicit of what the issue is

[2019-07-12 18:45] gasparnagy commented on #46
@iceoz @okyrylenko Could you please share more information on the context (which VS version, which Deveroom version, what other non-default VS extensions you have installer) and on how the freeze happens (what do you do to let it happen). If you can share a small screen-recording that's also very useful.

For accessing the log and trace files and on how to try out with an older version, please che

[2019-07-18 06:45] AnnieOletubo commented on #14
Sorry I was on hollidays so I didnt see your message.

Thanks for the update . I run to upgrade my version!
Thanks :) 👍

[2019-07-22 07:55] gasparnagy commented on #46
@iceoz @okyrylenko do you still have this issue?

[2019-07-23 04:44] stukalin opened #47 ""Could not load file or assembly" error on init"
Perhaps a dupe, but I see the following when I open my project in the vs2019:

[code]

Perhaps could be related to the fact we refer the asp.net core in the test project (dunno why)

![image](https://user-images.githubusercontent.com/9863365/61683282-aaa35b00-ad1d-11e9-8b4d-264faf361758.png)

[2019-07-23 08:08] gasparnagy commented on #47
@stukalin Probably a bad combination of .net core SDKs and frameworks, but your help for diagnosing this would be very useful (as it is not reproducible on my env).

Could you please paste the output of the `dotnet --info` command?

You can also try to run the command listed in the output after "Command executed:". By default it should show the same error message. You can try it with different add

[2019-07-23 09:46] stukalin commented on #47
`--info` gives me

[code]

[2019-07-23 09:51] stukalin commented on #47
As for the command: I can't repro the error by running it manually: it gives me the IndexOutOfRangeException:

![image](https://user-images.githubusercontent.com/9863365/61702522-9c1e6900-ad48-11e9-96ee-efdf13b87fa1.png)

[2019-07-23 10:20] gasparnagy commented on #47
@stukalin manual retry: it looks like that when you call it from the command line, it does not recognize the last (empty) argument... Could you please try with adding a space there, like `" "`? Or try with another shell (I see that you use a customized one.)

[2019-07-23 10:42] stukalin commented on #47
Oh, that helps!

[code]
Same result with all the flags you've suggested me (I added them in the end like this `dotnet exec C:\USERS\APSTU\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\16.0_6C06EFE1\EXTENSIONS\NXRQTRQZ.OXI\Connectors\V2\deveroom-specflow-v2.dll discovery D:\Projects\...\src\..\...Tests.Integration\bin\Debug\netcoreapp2.2\...Tests.Integration.dll " " --additionalprobingpath "C:\Program Files

[2019-07-23 11:32] gasparnagy commented on #47
@stukalin thx. unfortunately this did not help... Probably it might be related to the AspNet Core target. Could you check what happens if you recompile the project with

[code]

setting in the project file and re-run the command?

[2019-07-23 14:00] gasparnagy commented on #47
@stukalin Ignore my last comment, you have probably the same target framework in the test project anyway.

I have tried to repro the issue and created a project with the same dependencies, but it worked for me.

[DeveroomIssue47.zip](https://github.com/specsolutions/deveroom-visualstudio/files/3422383/DeveroomIssue47.zip)

Could you please try to open my solution and see if it produces the same is

[2019-07-23 14:15] gasparnagy commented on #47
@stukalin and one more thing: the `--additionalprobingpath` options have to be right after the `dotnet exec` (like `dotnet exec --additionalprobingpath somepath other options`). Could you please also redo your previous test this way?

[2019-07-26 07:47] psehmbi commented on #46
I am having the same issue:
VS version: 16.1.0 (2019)
Deveroom version 1.4.1

Deveroom is the only non-standard extension I have installed.

To reproduce you just simply add a new feature file. Visual studio will freeze and then restart and the banner is displayed: "A previous session ended unexpectedly. Disabling the extension Deveroom for SpecFlow (Visual Studio 2019) 1.4.1 might help."

This ha

[2019-07-29 09:12] AnnieOletubo opened #48 "Display Parameter"

[2019-07-30 06:26] gasparnagy commented on #48
Yes, I think this would be cool. Let's keep this issue open as an enhancement idea.

[2019-07-30 06:28] gasparnagy commented on #46
@psehmbi And do you see anything strange in the log (see [Troubleshooting page](https://github.com/specsolutions/deveroom-visualstudio/wiki/Troubleshooting))?

[2019-07-31 15:15] psehmbi commented on #46
@gasparnagy There is nothing sinister looking in the output panel, and when the issue occurs nothing new is written (presumably because Visual Studio crashes before anything can be written). In the log file, there is an entry for `Missing [assembly:RuntimePlugin] attribute in TechTalk.SpecFlow.xUnit.SpecFlowPlugin, Version=3.0.0.0, Culture=neutral, PublicKeyToken=0778194805d6db41.` Not sure if tha

[2019-08-01 07:32] gasparnagy commented on #46
@psehmbi thx for the info. The missing attribute is not related. I will review the changes in 1.3... Unfortunately that was a bigger change, but anyway. At least something to start with.
Would it be possible to do an online debugging session with you? Like we would have an online call and I would help you to debug Deveroom to find out where the problem is.

[2019-08-01 07:35] psehmbi commented on #46
Sure @gasparnagy let me know what you need from me.

[2019-08-01 07:48] gasparnagy commented on #46
@psehmbi pls send a mail to gaspar at specsolutions.eu and we will discuss it over there.

[2019-08-04 20:34] gasparnagy commented on #46
Fixed in v1.4.2. Thank you @psehmbi for the help.

[2019-08-04 20:34] #46 closed

[2019-08-05 13:02] psehmbi commented on #46
Can confirm working in 1.4.2 👍

[2019-08-09 13:45] nsio-stevew opened #49 "Initialisation error with .NET Core 3 and SpecFlow 3.1.21-beta"
Feels like I'm a little on the bleeding edge here so perhaps my own fault, but hoping the issue can be fairly easily rectified.  The setup is Visual Studio 2019 Preview 1 (installed today), .NET Core 3, Deveroom v1.4.2, xunit v2.4.0.  I was getting some errors with the latest SpecFlow build so I upgraded SpecFlow to v3.1.21-beta.  When I open the feature file and right-click to define steps, I get

[2019-08-12 06:51] gasparnagy commented on #49
Thx. I haven't tested Deveroom yet with SpecFlow v3.1. I will also try and let you know if I was able to repro your issue.

[2019-08-15 14:17] bmccabe opened #50 "System.BadImageFormatException"
Since the last update I'm getting this when I do a build. If I try to generate step definitions I get told that all steps are bound. If I switch back to SpecFlow I don't get the error.
[code]
[code]

[2019-08-16 06:24] gasparnagy commented on #50
Are any of your assemblies compiled to x32 or x64 (instead of AnyCPU)?

[2019-08-16 09:38] bmccabe commented on #50
Yes, we call a x86 DLL to connect to  hardware so need to be x86.

On Fri, Aug 16, 2019, 2:24 AM Gáspár Nagy, <notifications@github.com> wrote:

[2019-08-16 15:35] gasparnagy commented on #50
Unfortunately this setting is not detected automatically yet. I believe by adding a file `deveroom.json` to your project root folder with the following content would help. Could you please try?

[code]

[2019-08-30 09:32] adamrodger opened #51 "Generating Step Definitions Overwites Previous Definitions"
**Version**: 1.4.2

**Steps**:

1. Create a new feature file and add a scenario with undefined steps, e.g.:
[code]
2. Use "Define Steps (Ctrl+B, D)" to generate the step definitions and press Create
3. Write a new scenario which uses a new step definition, e.g.:
[code]
4. Use "Define Steps" again

**Expected**: A new step definition is generated and added to the existing step definitions file.

**

[2019-08-30 09:41] adamrodger commented on #51
I believe the problem is here: https://github.com/specsolutions/deveroom-visualstudio/blob/c03e17590e7035485ee0b2727ab7fb3c8424ec31/Deveroom.VisualStudio/Editor/Commands/DefineStepsCommand.cs#L138-L153

This method doesn't check whether a file with the same name already exists, it just overwrites with a new file containing only the new steps definitions every time.

[2019-09-19 00:29] rosslovas commented on #49
Getting the same thing but with .NET Core 2.2.407, VS2019 16.2.5, Deveroom 1.4.2. Same SpecFlow version (3.1.21-beta).

[2019-09-23 09:09] kstudnik opened #52 "Binding scope not used while searching for step definitions"
Using Deveroom 1.4.2
Steps to reproduce:
In feature file `Issue.feature`, I have step named (example) `When I add sth new`
Also in another feature file `Bind.feature`, I have step with the same name.

But the implementations of steps differ, are placed in separate classes and are distinguished using Scope
[Binding, Scope(Feature = "Issue")]

I was expecting that Deveroom solves that properly, but

[2019-09-23 11:50] gasparnagy commented on #52
@kstudnik we currently have tag scoping implemented so far. Would you be interested to help with implementing feature scoping? (Should not be that hard having tag scopes implemented.)

[2019-10-02 07:55] kstudnik commented on #52
I must admit, I have never contributed to github projects. But it may be a good opportunity to start.
I can not promise miracles, but I'll look into it.

[2019-10-02 13:32] kstudnik opened #53 "Errors and warnings while building deveroom solution"
So it happened. My curiosity won, and I cloned deveroom project.
Using VS2019.
I updated missing required packages according to Contribution.md ( I was missing only the Visual Studio extension development package)
And at last, I tried to build the project.
There were lots of warnings coming from the static analysis tool (about 160+). I assumed it comes from a different (maybe more strict) approach

[2019-10-02 18:09] gasparnagy commented on #53
Very good question. The UI tester project needed a bit of a hack, because the SDK-style project format that we use does not support natively WPF projects (in .NET Core 2.1 at least).
I don't have NetCore 3 installed so this might be related, but it should not.

Please try these ideas maybe they help:

- Close VS and try to build the solution from MsBuild. If that works it might start working from

[2019-10-02 18:15] gasparnagy commented on #52
@kstudnik I am happy to help. Once you will get the solution compiling, you can start making the first step (for me that would be adding a scenario to describe the behavior, like the "Matches scoped step definitions" scenario in `Editor\StepAnalysis.feature`). Once you have that, you can make a Pull Request (if you prefix the PR name with "WIP", it will be visible that this is not yet ready). I ke

[2019-11-06 09:41] gasparnagy commented on #49
This has been fixed and released with v1.4.3.

[2019-11-06 09:41] #49 closed

[2019-11-07 06:48] rarelam opened #54 "Code format is not working in .feature file"
Hi,

I am not sure if this is a valid issue for deveroom. Please close it if it is not related.

I try to format code with key combination (ctrl+K , ctrl+D) to format feature file, but VS 2019 just ignore it. --> With a message show on footer bar (The key combination is bound to command (Format Document) which is not currently available.)

[2019-11-07 06:52] rarelam commented on #54
sorry, just notice it is reported in #33

[2019-11-07 06:52] #54 closed

[2019-11-18 13:23] gasparnagy commented on #52
Fixed by #55, thx to @scasteran. (I will do a release later this week.)

[2019-11-18 13:23] #52 closed

[2019-11-22 12:44] AnnieOletubo opened #56 "Exit code: 4 with SpecFlow 3.1.62"
Hi all,

I have an error on my solution since I update it to work with SpecFlow (3.1.62) / SpecFlow.Tools.MsBuild.Generation (3.1.62)  / SpecRun.Runner (3.1.33) and SpecRun.SpecFlow.3-1-0 (3.1.33).
I have a specflow.json in my project
{
  "bindingCulture": {
    "language": "en-us"
  },
  "language": {
    "feature": "en-us"
  },
  "plugins": [],
  "stepAssemblies": [
    { "assembly": "Hiptest.To

[2019-11-22 13:23] gasparnagy commented on #56
Could you please zip the specflow.json config file and attach to this issue. (Zipping is important because it might preserve some Unicode prexfix characters that might be relevant.)

[2019-11-22 13:40] AnnieOletubo commented on #56
[specflow.zip](https://github.com/specsolutions/deveroom-visualstudio/files/3879740/specflow.zip)
here is the zip

[2019-11-24 13:28] gasparnagy commented on #56
The issue was related to using `specflow.json` config file on a .NET Framework project. This has been fixed now. I try to make a release later today.

[2019-11-24 13:28] #56 closed

[2019-11-24 13:31] gasparnagy commented on #53
I have temporarily removed the project from the solution...

[2019-11-25 07:04] AnnieOletubo commented on #56
Thanks a lot! :)

[2019-12-10 21:12] snow-jallen opened #57 "Unable to generate steps (vs2019 16.4)"
I have the following packages installed
SpecFlow (v3.1.67)
SpecFlow.NUnit (v3.1.67)
SpecFlow.Tools.MsBuild.Generation (v3.1.67)

I add a feature file to my test project (.net core 3.1), I create a feature file, I press F12 to generate step definitions but no screen pops up.  Then when I try to compile the project I get the following output:

[code]

[2019-12-11 13:50] gasparnagy commented on #57
@snow-jallen I will check this. Do you think that it is related to .NET Core 3.1? Does the same project work with an older .NET Core version?

[2019-12-12 00:56] hallipr commented on #32
I'm seeing this issue in v1.5.0:
[code]

[2019-12-12 01:59] flcdrg commented on #57
Same issue here. Was working ok with Core 2.2

[2019-12-12 13:54] gasparnagy commented on #57
Finally I got to the point to have a failing test for it... https://dev.azure.com/specsolutions/deveroom-visualstudio/_build/results?buildId=136 time to fix.

[2019-12-12 18:02] snow-jallen commented on #57
wonderful, thank you very much!

________________________________
From: Gáspár Nagy <notifications@github.com>
Sent: Thursday, December 12, 2019 6:54:40 AM
To: specsolutions/deveroom-visualstudio
Cc: Jonathan Allen; Mention
Subject: Re: [specsolutions/deveroom-visualstudio] Unable to generate steps (vs2019 16.4) (#57)

Finally I got to the point to have a failing test for it... https://dev.azure.c

[2019-12-13 11:19] gasparnagy commented on #57
This has been fixed. The release will come later today.

[2019-12-13 11:19] #57 closed

[2019-12-13 12:29] gasparnagy commented on #51
It is fixed in a way that at least asks before overwrite. Later we can improve this to extend existing file...

[2019-12-13 12:29] #51 closed

[2019-12-13 14:55] gasparnagy commented on #57
@snow-jallen @flcdrg The new release (1.5.1) is out. Please let me know if there is a problem still.

[2019-12-13 15:42] gasparnagy commented on #32
@hallipr Could you please create a new issue about this (with a reference to this), so that it is easier to track it. Unfortunately these issues are pretty hard to nail down. If you could maybe create a small repro, that would be really useful. An ~empty project with a same references like yours, with a single feature file and a single empty step definition should be enough to reproduce the proble

[2019-12-16 12:45] gasparnagy opened #58 "To investigate: SourceLocation.SourceFile is null and therefore the tracking position cannot be created"
This probably does not cause a big issue as Deveroom handles it internally, still it would be interesting to know when can this occur.
Related code: `VsIdeScope.CreatePersistentTrackingPosition`

[2019-12-16 12:46] gasparnagy commented on #47
I am closing this due to inactivity. @stukalin if this is still relevant, please reopen.

[2019-12-16 12:46] #47 closed

[2019-12-16 12:52] gasparnagy commented on #58
Maybe it is related to test projects compiled to Release configuration?

[2019-12-17 05:53] flcdrg opened #59 "Scenario navigation drop-down"
I think it would be nice if there was a drop-down control in the editor that let you jump to a particular scenario. Kind of like the ones that appear for C# .cs files (which navigate by namespace, class and method respectively).

Scenario would be useful. I guess you could have a second drop-down to jump between given/when/then sections too for a specific scenario.

[2019-12-17 12:52] gasparnagy commented on #59
That sounds like cool idea. You mean these ones, right?
![image](https://user-images.githubusercontent.com/144701/70996759-bed46400-20d3-11ea-978e-d42a3518bd49.png)

I was once thinking about that, but could not find the related infrastructure in the VS extension SDK. (I might be wrong, but as far as I remember at that time it seemed to be a special feature implemented for the internal stuff only.

[2019-12-17 13:12] flcdrg commented on #59
No worries. I've actually implemented something similar for an xslt extension I created, so that could be a useful reference.

https://github.com/flcdrg/XsltCop

[2019-12-17 13:19] gasparnagy commented on #59
@flcdrg great. looks good! So it is essentially just a special top margin! Makes sense.

[2019-12-19 22:37] greendimka opened #60 "InvokeDiscovery: fails after project upgrade to .NET Core 3.0"
After I have upgraded my projects to .NET Core 3.0 Deveroom has stopped working. SpecFlow itself works - all the tests run (tested within VS2019 ver. 16.4.0).

I receive an error message within VS output window whenever I open a .feature file.

Here is the full output:

Info: CreateProjectScope: Initializing project: Core.SpecTests
Info: OnSettingsInitialized: Project settings initialized: .NETCor

[2019-12-20 16:36] gasparnagy commented on #60
@greendimka could you please double check if the problem is not caused by some left-over files from the previous versions. E.g. close Visual Studio, try to delete the bin/obj folders, do a NuGet restore & build, and reopen Visual Studio?

If this does not help, could you please make a simple repro (an empty project with the same dependencies and a dummy feature file that shows the same error).

[2019-12-25 11:20] greendimka commented on #60
Hi, I will do it today or tomorrow and will let you know how it went.

[2020-01-03 20:55] greendimka commented on #60
Good news - everything does work wright in the empty project. Tried with .NET Core 3.0 and 3.1.
Bad news for me: it does not work in the mentioned project yet. I have tried everything you suggested, nothing helped, but thanks. I will keep searching for a solution.

[2020-01-03 21:26] greendimka commented on #60
I think it is better to re-open the issue so you can close it manually if you find it appropriate.
So, I could make my project work. Have changed .NET Core from 3.0 to 3.1 - and now Deveroom is back on track again. Tried switching it back to 3.0 - got same error.

Another hint: my spec tests project references another project, which uses .NET Standard 2.1 - can it be the cause of

?

[2020-01-06 12:06] gasparnagy commented on #60
Yes, let's keep it open. I will try to play with it a bit vased on the .NET COre 3.0/3.1 hint.

[2020-01-17 14:24] mbendtsen opened #61 "Error during binding discovery with x86"
My project is set to x86 and when opening the feature file this error occurs:
[code]
If I run the command manuallly with the x86 version of dotnet, it works fine. Is there any way to control which dotnet version is used?

Project file:
[code]

[2020-01-20 09:40] mbendtsen commented on #60
Is this related to #61?

[2020-01-20 19:49] gasparnagy commented on #61
I think this is a duplicate of #50.
@mbendtsen Could you please check if the workaround there with the deveroom.json config file solves the issue?

[2020-01-21 09:08] mbendtsen commented on #61
It doesn't. Maybe something change during these 6 month?

I have been looking at the code, and the as far as I can see the processor architecture is not used to determined the dotnet.exe version:

**OutProcSpecFlowConnector.cs**
[code]

Could be changed to this:
[code]

[2020-01-21 18:28] gasparnagy commented on #61
@mbendtsen Makes sense. Is this the official way in .NET Core to run dotnet.exe in x86 mode? I mean that you have to run it from the `Program Files (x86)` folder? If yes, could you please send a pull request with the change you proposed?

[2020-01-22 09:35] mbendtsen commented on #61
@gasparnagy As far as I know, this is the way. We are using Win32 libraries and because of that we have to use x86 for platform and this gives us problem on our build server, where we had to use our own script to use the right dotnet.exe version. It seems like Visual Studio uses MSBuild which then uses dotnet.exe. For some reason this does not cause problems.

I have just made a test build of the

[2020-01-22 19:43] gasparnagy commented on #61
I will make a release tomorrow with this, thx.

[2020-01-23 10:35] littlegenius666 commented on #33
@gasparnagy I would be _really_ interested in contributing. I partially implemented this feature for Specflow extension for VS and I really need to use it in my everyday job :)

[2020-01-23 19:34] gasparnagy commented on #33
@littlegenius666 Great! I would be happy to support you!

The solution here can be built up based on

* [CommentCommand](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.VisualStudio/Editor/Commands/CommentCommand.cs) - this shows how to hook on a standard VS command
* [AutoFormatTableCommand](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.Vi

[2020-01-24 14:22] aurnoi1 opened #63 "Support renaming steps in feature file"
Deveroom version: 1.5.1
Visual Studio 2019 version: 16.4.3

One of the feature of Specflow Extension for VS is the ability to [rename steps](https://github.com/SpecFlowOSS/SpecFlow.VisualStudio/pull/39) from the feature file. Since these steps are made to be reused, it is a real pain to do it manually. Unless I am mistaking this feature is not present in deveroom.

Is it plan in the road map?

[2020-01-27 08:57] gasparnagy commented on #63
This is definitely a feature that we would like to support. I don't have a very concrete plan for it, because this would require a little bit of research on how we can connect to the roslyn code engine. But I hope to have this soon.

[2020-01-30 18:12] mbendtsen commented on #61
@gasparnagy Not to push, but do you know when you will be making the release?

[2020-01-31 12:35] StefanZivkovic commented on #50
I am getting same error for Debug-x64, specflow 1.9.0, nUnit 2.6.2, Deveroom for SpecFlow, .Net4.7.2, and VS2019.

Server stack trace:
   at Deveroom.VisualStudio.SpecFlowConnector.Discovery.BaseDiscoverer.DiscoverInternal(Assembly testAssembly, String testAssemblyPath, String configFilePath)
   at Deveroom.VisualStudio.SpecFlowConnector.Discovery.RemotingBaseDiscoverer.Discover(String testAssembl

[2020-01-31 13:08] gasparnagy commented on #61
@mbendtsen push is good. I have forgotten about it, sorry. I do it now.

[2020-01-31 13:36] gasparnagy commented on #61
released. :)

[2020-01-31 13:36] #61 closed

[2020-03-02 03:40] gkalnytskyi-asx commented on #33
I would like to suggest allowing the user to put their feature file style configuration into the _.editorconfig_, should I raise this as another enhancement proposal?

[2020-03-14 17:21] mihsoft opened #64 "VS2019 - When saving a single feature file a message box is displayed"

[2020-03-14 17:25] #64 closed

[2020-03-27 18:04] pmashurenko commented on #63
If you're going to implement this, please think about possibility to have such feature implemented in a way that it would understand regular expressions that might be used in Given/When/Then attributes and won't break them during rename.

[2020-04-20 16:31] JamieBenson commented on #60
I have the same issue with .Net Core 3.1 (below). Let me know what you need me to try, happy to help with legwork.

[2020-04-21 07:19] gasparnagy commented on #60
@JamieBenson To trace the issue the biggest help would be to make a minimal repro. I am using Deveroom with many netcore 3.1 projects, so this alone is not an issue, there must be something else in your setup (probably related to the dependencies). Could you try to make a small project with the same dependencies that shows the problem?

[2020-04-26 10:34] JamieBenson commented on #60
@gasparnagy Thanks I will sort that, I was actually thinking more around are there any debugging flags I could try or whether you want to uninstall any extensions etc. :)

[2020-04-27 07:19] gasparnagy commented on #60
@JamieBenson the discovery of the binding details is performed through an external process that is invoked by the Deveroom extension. (So installing/uninstalling the extension will not have any impact.) To try and debug, you can also run this process separately even from a command line, just copy out the command from the error message:

[code]

You can also add a `--debug` option and then the debu

[2020-04-30 13:10] gasparnagy opened #65 "Support for Cucumber expressions"
Provide support for specifying step definitions using Cucumber expressions.

With Cucumber expressions you can specify your step definitions in a simpler way.

Instead of using regular expressions:

[code]

Use Cucumber expressions:

[code]

With SpecFlow v3.1, in order to use Cucumber expressions, you need to install the [CucumberExpressions.SpecFlow.3-1](https://github.com/gasparnagy/CucumberExp

[2020-09-02 15:50] mityushinaanastasiya commented on #33
Hi! What is the status of this issue now? We with the team are waiting for these changes very much! Unfortunately, we always have problems related to the formatting of tables....

[2020-10-29 07:46] kryban opened #66 "Step text completion not working"
Recently installed deveroom, but the step-text-completion is not working for me.
Ctrl+space is providing me scenario keywords, but there is no further step text-completion.

In the log a see an InvalidOperationException exception as well parserErrors:
[code]

Above project is .net core 3.1, just for testing deveroom, having below packages installed:
SpecFlow  3.4.31
SpecFlow.NUnit  3.4.31
SpecFlow

[2020-10-30 20:52] mprochaska-landorphan commented on #60
I ran into this same issue today in netcoreapp3.1 using external binding.  It looks like discovery is working on relative to the specflow.json file before it is deployed, rather than the deployed target dll.  Copying the external dll next to the specflow.json file in the root of the project directory made discovery work.  My (sterilized) command line:

`c:\git\customer\TestProject2\bin\Debug\netco

[2020-11-08 20:03] mprochaska-landorphan commented on #60
This should not be required, but is required in the external binding projects to the target consumer projects in dotnetcore to get the tool to work:

In the external step definition project add this (this is MSBUILD in the csproj of the external binding DLL, I have one consuming project, if you have more than one consuming project, rinse and repeat):

  <Target Name="PostBuild" AfterTargets="PostB

[2020-11-08 20:04] mprochaska-landorphan commented on #60
great, the MSBUILD code was deleted

[2020-11-08 20:05] mprochaska-landorphan commented on #60
just after build of the external bindings project, copy it to the root of the consumer projects.  Sorry the source was deleted.  Email me if you need help

[2020-11-08 20:46] mprochaska-landorphan commented on #60
trying again:

  <Target Name="PostBuild" AfterTargets="PostBuildEvent" Condition="'$(SYSTEM_TEAMFOUNDATIONSERVERURI)' == ''">
    <Exec Command="copy /V /Y $(TargetPath) $(SolutionDir)Ensemble.EIQ.UI.Tests\$(TargetName)$(TargetExt)" />
  </Target>

[2020-11-08 20:47] mprochaska-landorphan commented on #60
and again:

"

  <Target Name="PostBuild" AfterTargets="PostBuildEvent" Condition="'$(SYSTEM_TEAMFOUNDATIONSERVERURI)' == ''">
    <Exec Command="copy /V /Y $(TargetPath) $(SolutionDir)Ensemble.EIQ.UI.Tests\$(TargetName)$(TargetExt)" />
  </Target>

"

[2020-11-08 20:49] mprochaska-landorphan commented on #60
Will you please contact me privately, the "safety police" will not let me post MS Build scripts.  I am certain having seen them, you will understand.

[2020-11-09 09:44] gasparnagy commented on #60
@mprochaska-landorphan sure, please drop me a mail at gaspar at specsolutions.eu.

[2020-12-15 02:35] headlessgargoyle opened #67 "Exception on build with .Net 5"
During research into updating my team's project to .Net 5, I found that deveroom step discovery failed. I'm currently using sdk 5.0.101.

Interestingly, I believe there may be a relationship between this issue and [this one](https://github.com/specsolutions/deveroom-visualstudio/issues/60). The main project I was updating actually has that issue, however in trying to make a minimally reproducible

[2020-12-16 07:01] gasparnagy commented on #67
@headlessgargoyle thx. i try to get time to fix this this week

[2021-01-11 14:34] czarls commented on #67
@gasparnagy Hi, any update on this? I used Deveroom for a while and liked it but since I switched to .net5 can't use it any longer.
BTW: Still have your coaster from HTB2019 ;)

[2021-02-10 16:41] wmsoto commented on #67
I'm running into this same issue as well. Thanks for all of your hard work that goes into this extension!

[2021-02-18 11:29] #67 closed

[2021-02-19 14:46] daveh551 opened #69 "Visual Studio warning: The project bindings could not be discovered"
Something has apparently changed recently.  After working with a SpecFlow project for several months, I'm suddenly getting a warning message "The project bindings (e.g. step definitions) could not be discovered.  Navigation, step completion, and other features are disabled".

There is no error code or other information given.

Configuration: Visual Studio 2019 (v. 16.8.3)

DevERoom extension.

Win

[2021-02-22 11:47] rsloggett-prmaconsulting commented on #69
I too am seeing this - is this a .NET Framework 5 issue (my project is TargetFramework net5.0)?

[2021-02-22 13:05] daveh551 commented on #69
Mine is a .NetCore 3.1 app.

[2021-02-22 13:07] daveh551 commented on #69
On one or two runs, I did get some more information back:  There's a missing method exception for BoDi.ObjectContainer.RegisterTypeAs(System.String).
It looks like it's thrown at DevERoom.VisualStudio.SpecFlowConnector.Discovery.V31.SpecFlowV31Discoverer.DependencyProvider.RegisterGloblConainterDefaults.

Hope that helps.

[2021-02-22 13:23] gasparnagy commented on #69
@daveh551 Could you please let me know the exact SpecFlow version you use? Is it v3.7?

[2021-02-22 15:01] gasparnagy commented on #69
I have reproduced the issue and made the fix. Waiting for the CI build to pass and then I will release it out.

[2021-02-22 15:08] gasparnagy commented on #66
@kryban Did you finally solved this problem?

[2021-02-22 15:08] gasparnagy commented on #65
This was added in v1.6

[2021-02-22 15:08] #65 closed

[2021-02-22 16:40] gasparnagy commented on #69
Fixed and released now. v1.6.2 will be available soon for manual/automatic update.

[2021-02-22 16:40] #69 closed

[2021-02-22 16:40] gasparnagy commented on #67
Released now. v1.6.2 will be available soon for manual/automatic update.

[2021-06-02 09:21] PWithaarImproveQS opened #70 "Test assembly not found"
Hi, at a customer i'm looking into changing from the Specflow plugin to DeveRoom. However we run into issues with the discovery of the test assembly. We use custom build targets where the intermediates and the binaries are copied to a central folder on C:\Build\Projectname\... It's done for reasons that cannot be changed easily, unfortnally this customization also leads to some issues with the dis

[2021-06-03 15:04] gasparnagy commented on #70
@PWithaarImproveQS Is there a chance you can make an ~empty project that uses such a build target so that I can analyze?

[2021-06-09 10:55] PWithaarImproveQS commented on #70
Hi Gaspar,

I drilled it down to the cause in my opinion. Turned out it's reproducable with an easy step. There is a custom setting in a .props file that sets the output directory. In the real project this is done by a lot of generic props and target files. Eventually it ends op in a fixed location. I'm thinking that being able to configure the location of the dll's in deveroom, or using the varia

[2021-06-10 05:43] gasparnagy commented on #70
@PWithaarImproveQS Thx for the repo. I will try that next week (this week is on max). The strange thing is that the plugin [takes the output path variable from VS](https://github.com/specsolutions/deveroom-visualstudio/blob/master/Deveroom.VisualStudio.Package/VsUtils.cs#L176), so I assumed that it is updated if it is overwritten from props... strange.

If you want/can play with it, you can uncomm

[2021-06-18 07:45] gasparnagy commented on #70
@PWithaarImproveQS I just got time to do some testing with your sample, but... it works just fine for me. I see all compiled files in the redirected folder (no `bin` folder in the project folder), but Deveroom just finds them without problems. (I did a build and then opened a feature file.)

![image](https://user-images.githubusercontent.com/144701/122525489-922b4080-d019-11eb-86b7-8ba141cc638f.pn

[2021-08-02 20:26] tlecomte opened #72 "Support for Specflow 3.9.22"
Using Deveroom with a project using Specflow 3.9.22 fails with:

As far as I can tell, this comes from the following change, where `IRuntimePluginLoader.LoadPlugin` has changed to take one extra parameter:
https://github.com/SpecFlowOSS/SpecFlow/pull/2462

[2021-08-03 13:39] tlecomte commented on #72
@gasparnagy Out of curiosity, what do you think of the idea of shipping the discovery command-line tool as part of the Specflow nuget itself? That would make the Deveroom extension less dependent on internal changes in Specflow. The "contract" would be the command-line arguments of that command, and the format of the json it returns.

[2021-08-03 13:48] gasparnagy commented on #72
@tlecomte Yes, this is something we are considering with the SpecFlow team. Most probably the Rider extension could also use it then. There are some work on the IDE extensions right now and we will finalize the plan soon.

[2021-08-19 11:53] alexandermikuta commented on #63
It seems renaming is still not possible. Any news or plans about this? This feature would be really helpful.

[2021-08-19 13:37] gasparnagy commented on #63
@alexandermikuta we have some plans together with the SpecFlow team to get that in, but it is not done yet.

[2021-08-19 13:38] gasparnagy commented on #72
This is fixed with v1.6.3

[2021-08-19 13:39] gasparnagy commented on #60
There are some improvements for this in v1.6.3. Please reopen if the issue is still valid there.

[2021-08-19 13:39] #60 closed

[2021-08-19 13:41] gasparnagy commented on #70
Please reopen the issue if it is still valid in v1.6.3 or if you can provide further details

[2021-08-19 13:41] #70 closed

[2021-08-19 13:43] #66 closed

[2021-08-19 13:44] gasparnagy commented on #53
The UI tester project is enabled again...

[2021-08-19 13:44] #53 closed

[2021-08-24 16:25] tlecomte commented on #72
Hello @gasparnagy, the source for v1.6.3 does not show up in Github, maybe you forgot to push ?

[2021-08-24 17:07] gasparnagy commented on #72
@tlecomte yes... done now.

[2021-08-25 13:39] tlecomte commented on #72
Thanks @gasparnagy :smile:

[2021-09-16 14:02] PWithaarImproveQS commented on #70
Hi Gaspar, I've spend some time debugging to find out the actual issue. What happens is that the outputpath from the configuration manager is not correct. The target framework is added to there, where on the actual filesystem this is not done. So we set the outputpath to C:\BinariesGoHere, but the OutputPath variable that is requested in VsUtils GetOutputPath is extended with the framework version

[2021-09-16 14:32] gasparnagy commented on #70
@PWithaarImproveQS Thx for the response and the useful info!

[2021-11-23 12:23] kaladinstorm84 opened #74 "Support for Visual Studio 2022"
Currently cannot install Deveroom in Visual Studio 2022 as it doesnt appear in the extension gallery. Is there any plan to release for the latest version of 2022

[2021-11-23 13:18] gasparnagy commented on #74
@kaladinstorm84 The new official "SpecFlow for Visual Studio" extension for VS2022 is based on Deveroom, so install that extension in VS2022 for the deveroom-experience. The new codebase (a fork of Deveroom) is here: https://github.com/SpecFlowOSS/SpecFlow.VS.

[2021-11-23 13:18] #74 closed

[2021-11-23 13:20] kaladinstorm84 commented on #74
Could the Wiki / Supported Versions page be updated to reflect this?

[2021-11-25 09:44] bromarock commented on #60
Hi, I've just installed version 2021.1.2.60110 on VS2022 and now I have similar problem with my project:

Info: CreateProjectScope: Initializing project: BillingNet.SpecsTests
Info: OnSettingsInitialized: Project settings initialized: .NETFramework,Version=v4.7.2,SpecFlow:2.4.0,Gen
Warning: InvokeDiscovery: Error during binding discovery. Unable to find connector: C:\USERS\DAMOMA\APPDATA\LOCAL\MIC

[2021-11-25 11:06] gasparnagy commented on #60
@bromarock Thx for reporting this. There is a problem with the latest release. There will be a fix this afternoon. https://github.com/SpecFlowOSS/SpecFlow.VS/issues/29

[2021-11-25 11:54] patiqs commented on #60
It seems there vas a packaging problem with the release. I just released 2021.1.4.55204 with the fix. Can you please verify?
https://marketplace.visualstudio.com/items?itemName=TechTalkSpecFlowTeam.SpecFlowForVisualStudio2022

[2021-11-25 12:03] AleksandarMatic commented on #60
I had the same issue, it works now with this update.

[2021-12-05 16:09] rick3500 commented on #69
This is my first attempt to build specflow using the 'Xamarin.UITest Cross-Platform Test Project' template and I am getting "The project bindings (e.g. step definitions) could not be discovered. Navigation, step completion and other features are disabled" message

It is actually a Warning and not an error.

Template used to initialize the project 'Xamarin.UITest Cross-Platform Test Project' w/Flui

[2021-12-06 07:11] gasparnagy commented on #69
@rick3500 Do you see any detailed error message? Maybe in the log file (in `C:\Users\<your-user>\AppData\Local\Deveroom` folder). Could you maybe also try with VS2020 using the SpecFlow for Visual Studio 2022 extension (a successor of Deveroom)?

[2022-02-16 11:26] bio-pepor opened #75 "Highlighting positioning is wrong if additional blanks after initial keyword"
We have found an issue with the Deveroom extension that results in syntax highlighting of binding parameters to be shifted if there is more than one blank after the initial keyword ("When"/"Then"/"And" etc.).

In the following screenshot, the highlighting of "Ok" is shifted to the left by two characters (highlighting the blank and beginning quotes before the Ok) due to two additional blanks after

[2022-03-28 10:54] oryz opened #76 "InvokeDiscovery: Error during binding discovery"
Hi,

After some extensive re-work of our solution recently (including upgrading from .Net Core 3.1 to 5), deveroom fails during binding discovery:

[code]

[2022-03-28 14:39] ashrussell opened #77 "Error during binding discovery."
Info: OnActivityStarted: Starting Deveroom...
Info: CreateProjectScope: Initializing project: PatientHub.Framework.FunctionalTesting.Test
Info: OnSettingsInitialized: Project settings initialized: .NETFramework,Version=v4.6.1,SpecFlow:3.9.22
Warning: InvokeDiscovery: Error during binding discovery.
Command executed:
  #reponame#Debug> C:\USERS\ASHLEY.RUSSELL\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\16

[2022-03-29 06:52] gasparnagy commented on #76
The development of the "connectors" (the component that load step definitions from your project) has been moved to the https://github.com/SpecFlowOSS/SpecFlow.VS project. Do you have a chance to try with Visual Studio 2022 and the "SpecFlow for Visual Studio 2022" extension if it works there? If yes, I can port back the more advanced connectors from there to Deveroom.

[2022-03-29 06:52] gasparnagy commented on #77
The development of the "connectors" (the component that load step definitions from your project) has been moved to the https://github.com/SpecFlowOSS/SpecFlow.VS project. Do you have a chance to try with Visual Studio 2022 and the "SpecFlow for Visual Studio 2022" extension if it works there? If yes, I can port back the more advanced connectors from there to Deveroom.

[2022-03-30 01:37] oryz commented on #76
Sure yes I can give that a go - thanks.

[2022-04-13 13:31] gasparnagy commented on #76
@oryz Thx for the feedback. That's a good news. I try to find time to update Deveroom accordinly, but I can only do it after the Easter week.

There will be no separate Deveroom for VS2022. We decided the two extension to be merged for VS2022 and the "SpecFlow for Visual Studio 2022" extension is now based on the Deveroom codebase.

[2022-04-18 06:00] jiyadh opened #78 "SpecFlow warning . Unable to generate step definitions, Navigation is blocked"
I'm using specflow - Version="3.9.58 .  I'm getting these errors in my visual studio and im not able to navigate ot create new step definitions.

error stack

Warning: AndDiscoveryProviderSucceed: The project bindings (e.g. step definitions) could not be discovered. Navigation, step completion and other features are disabled.
  Please check the error message above and report to https://github.com/

[2022-05-06 02:31] oryz commented on #76
Great, that's good to know! Let me know if you need me to test anything.

[2022-08-18 17:59] MartienvdMeij commented on #33
Any news on this one? As this feature is really missing compared to the Specflow extension.

[2022-08-22 07:16] gasparnagy commented on #33
As you might know, Deveroom has been used as a baseline for the _SpecFlow for Visual Studio 2022_ product (https://github.com/SpecFlowOSS/SpecFlow.VS/) and the implementation of new features and improvements continues there and the format document has been implemented there.

The easiest recommendation to switch to VS2022, where you will get the "Deveroom-experience", but with extra features. If t